*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
  background-image: url(uiupic.jpg);
}

.container{
    background: transparent;
    width: 500px;
    padding: 25px;
    margin: 50px auto;
    border-top: 5px solid rgb(252, 134, 16);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.5);
}
.container h2{
    font-size: 24px;
    line-height: 24px;
    padding: 30px;
    text-align: center;
}

.input-name{
    width: 90%;
    position: relative;
    margin: 20px;
}
.lock{
    padding: 8px 11px;
}
.name{
    width: 45%;
    padding: 8px 0 8px 40px;
}
.input-name span{
    margin-left: 35px;
}
.data{
    width: 45%;
    padding: 8px 0 8px 40px;
}
.input-name span{
    margin-left: 35px;
}
.text-name{
    width: 100%;
    padding: 8px 0 8px 40px;
}
.input-name i{
    position: absolute;
    font-size: 18px;
    color: blue;
    border-right: 1px solid #cccccc;
}
.text-name, .name{
    border: 1px solid #cccccc;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.text-name:hover, .name:hover{
    background-color: skyblue;
}

.text-name:focus, .name:focus
{
    border: 1px solid rgb(0, 255, 179);
}

.radio-button
{
    margin-right: 2px;
}

.country
{
    display: inline-block;
    width: 100%;
    height: 30px;
    padding: 0px 15px;
    cursor: pointer;
    border: 1px solid #cccccc;
    color: #7b7b7b;
    border-radius: 0;
    background : white;
}

.arrow{
    position: absolute;
    top : calc(50% - 4px);
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-width: 8px 5px 0 5px;
    
   
}

.check
{
    margin-right: 15px;
    position: reletive;
}

.button{
    background-color: rgb(252, 134, 16);
    color: white;
    height: 30px;
    line-height: 30px;
    width: 100%;
    border:none;
    outline: none;
}